{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>To Do Items</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" type="text/css" href="{% static 'base/main.css' %}">
    <script src="{% static 'base/main.js' %}"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
        rel="stylesheet">
</head>

<body>


    <div id="notifications" style="position: fixed; top: 10px; right: 10px;"></div>




    <div class="container">
        {% block content %}

        {% endblock content%}
    </div>

    <script>
        const socket = new WebSocket(
            (window.location.protocol === "https:" ? "wss://" : "ws://") +
            window.location.host + '/ws/notifications/'
        );

        socket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            const container = document.getElementById('notifications');

            const div = document.createElement('div');
            div.innerText = data.message;
            div.className = 'notification';
            container.appendChild(div);

            // Que desaparezca después de 5 segundos
            setTimeout(() => div.remove(), 5000);
        };

        socket.onclose = function (e) {
            console.error('Socket closed unexpectedly');
        };
    </script>

    <style>
        .notification {
            background-color: #d4edda;
            color: #155724;
            padding: 10px;
            margin-bottom: 5px;
            border-radius: 5px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        }
    </style>


</body>

</html>